<!DOCTYPE html>

<html>
    <pre class="auth__body">  {
      "authorization": {
          "username": "<input 
            type="username" 
            name="username" 
            placeholder="...">",
          "password": "<input 
            type="password" 
            name="password" 
            placeholder="...">", {% if show_password_val | default(false) %}
          "password_validaton": "<input type="password" 
            name="password-validation" 
            placeholder="...">",{% endif %}
      }
  }  </pre>
</html>
