{% extends 'base.html' %}

<!DOCTYPE html>
<html>
    {% block title %} Login {% endblock %}

    {% block nav %}
    <a href="{{ url_for('snippets.index') }}">Snippet Creation</a>
    {% endblock %}

    {% block header %}
       <h1>Login</h1> 
    {% endblock %}

    {% block form %}
        <div id="auth-container">
            <form method='post' action='{{ url_for('auth.login') }}' class='auth-form'>
                {% include 'auth/_auth-form.html' %}

                <button type="submit">Submit</button>
            </form>
        </div>
    {% endblock %}

</html>
