{% extends 'base.html' %}
{% set content_size = 'content--compact' %}

<!DOCTYPE html>
<html>
    {% block title %} Register {% endblock %}

    {% block nav %}
        <a href="{{ url_for('snippets.index') }}">Snippet Creation</a>
    {% endblock %}

    {% block header %}
       <pre>
        ▗▄▄▖ ▗▄▄▄▖ ▗▄▄▖▗▄▄▄▖ ▗▄▄▖▗▄▄▄▖▗▄▄▄▖▗▄▄▖ 
        ▐▌ ▐▌▐▌   ▐▌     █  ▐▌     █  ▐▌   ▐▌ ▐▌
        ▐▛▀▚▖▐▛▀▀▘▐▌▝▜▌  █   ▝▀▚▖  █  ▐▛▀▀▘▐▛▀▚▖
        ▐▌ ▐▌▐▙▄▄▖▝▚▄▞▘▗▄█▄▖▗▄▄▞▘  █  ▐▙▄▄▖▐▌ ▐▌        
        </pre> 
    {% endblock %}

    {% block content %}
        <div id="auth-container" class="auth">
            <form method='post' action='{{ url_for('auth.register') }}'class="auth__form">

                {% set show_password_val = true %}
                {% include 'auth/_auth-form.html' %}

                <button type="submit">Submit</button>
            </form>
        </div>
    {% endblock %}

</html>
