<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet "href="{{ url_for('static', filename='styles/styles.css') }}">
        {% block scripts %}{% endblock %}
        <title>{% block title %}{% endblock  %} - Snip Vault</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    </head>

    <body>
        <nav class="nav">

             <ul class="nav__snippets">
                 {% block nav %}{% endblock %} 
             </ul>

             <ul class="nav__auth">
                {% if g.user %}
                    <p>{{ g.user['username'] }}</p>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>

                {% else %}
                    {% if request.endpoint != 'auth.login' %}
                        <a href="{{ url_for('auth.login') }}">Login</a>
                    {% endif %}

                    {% if request.endpoint != 'auth.register' %}
                        <a href="{{ url_for('auth.register') }}">Register</a>
                    {% endif %}
                {% endif %}
             </ul>
        </nav> 

        <div class="document">
            <div class="document__wrapper">

                <header>
                    {% block header %}{% endblock %}
                </header>

                <div class="content {{ content_size | default("") }}">
                    {% for message in get_flashed_messages() %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}

                    {% block content %}
                        <div class="content__upper content__upper--{{ upper_layout | default('flex') }}">
                            {% block main %}{% endblock %}
                            {% block form %}{% endblock %}
                        </div>

                        <div class="content__lower">
                            {% block lower_main %}{% endblock %} 
                        </div>
                            
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
