<!DOCTYPE html>

<html>
    {% macro snippet_form(langs) %}
        <div class="form-title">
            <label for="title"> Title </label>
            <input id="title" name="title" required>
        </div>

        <div class="form-language">
            <label for="language"> Language </label >
            <select id="language" name="language" required>
                {% for lang in langs %}
                    <option value="{{ lang }}"> {{ lang }} </option>
                {% endfor %}
            </select>
        </div>

        <div class="form-prefix">
            <label for="prefix"> prefix </label>
            <input id="prefix" name="prefix" required>
        </div>

        <div class="form-body">
            <label for="body"> body </label>
            <textarea id="body" name="body" required></textarea>
            <pre>
                <code id="snippet-preview-area">
                </code> 
            </pre>  
        </div>

        <div class="form-description">
            <label for="description"> description </label>
            <textarea id="description" name="description"></textarea>
        </div>
    {% endmacro %}
</html>

