 <!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8"/>
        <title> Snippet Vault </title>
    </head>
    <body>
        <main>
            <header>
                <h1> Snippets </h1>
                <h3> Collection of user saved snippets </h4>
            </header>
            <nav>
                <h3><a href="snippet-creation"> New Snippet </a></h3>
                <h3><a href="saved-snippets"> Saved Snippets </a></h3>
                <h3><a href="edit-snippets">Edit Snippets</a></h3>
            </nav> 
        </main> 
    </body>
</html>
