{% from "_snippet-form.html" import snippet_form %}
<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8"/>
        <script type="module" src="/static/pages/manage-snippets.js" defer></script>
        <title> Snippet Vault </title>
    </head>

    <nav>
        <a href="snippet-creation">New Snippet</a> | 
        <a href="/api/snippets">Json Snippets</a>
    </nav> 

    <div id="main-page">
        <header>
            <h1><code>Snippet Vault</code></h3>
        </header>

        <body>
            <div>
            </div>
           <main id="display-card" hidden>
                <h4 id="display-title"><code></code></h3>
                <h5 id="display-prefix"><code></code></h4>
                <pre id="display-body"><code></code></pre>
                <div id="nav-buttons">
                   <button type="button" id="prev">Previous</button>
                   <button type="button" id="next">Next</button>
                   <button type="button" id="copy-json">Copy</button>
                   <button type="button" id="edit-snippet" >Edit</button>
                </div>
            </main> 

            <form method="patch" action="/api/edit-snippets" id="snip-form" hidden>
                {{ snippet_form(langs) }} 

                <div>
                    <button type="submit" id="form-submit-button">Update</button>
                    <button type="button" id="delete-button">Delete</button>
                    <button type="button" id="close-edit">Close</button>
                    <button type="button" id="new-placeholder" hidden>${i:value}</button>
                </div>
            </form>

            <div id="initial-state" hidden>
                <h3>Select a Saved Snippet</h3>
                <h5>using the languages bellow</h5>
            </div>

            <div id="empty-state" hidden>
                <h2>No Snippets Found</h2>
                <h3><a href="snippet-creation">Make New Snippet</a></h3>
            </div>

            <section id="snippet-selection">
                <div id="language-button-list"></div>
                <select id="snippet-menu" size="8" hidden></select>
            </section>
        </body>
    </div>
</html>
