<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> New Snippet </title>
        <script type="module" src="/static/snippet-creation.js" defer></script>
    </head>

    <nav>
     <a href="/">Home</a> |
     <a href="/edit-snippets">Edit Snippets</a>
    </nav>

    <body>
        <form method="post" action="/snippet-creation" id="new-snip-form">
            <div class="form-title">
                <label for="title"> Title </label>
                <input id="title" name="title" required>
            </div>
            <div class="form-language">
                <label for="language"> Language </label >
                <input id="language" name="language" required>
            </div>
            <div class="form-prefix">
                <label for="prefix"> prefix </label>
                <input id="prefix" name="prefix" required>
            </div>
            <div class="form-body">
                <label for="body"> body </label>
                <textarea id="body" name="body" required></textarea>
            </div>
            <div class="form-description">
                <label for="description"> description </label>
                <textarea id="description" name="description"></textarea>
            </div>
            <div>
                <button type="submit" id="form-submit-button"> Finish </button>
            </div>
        </form>

        <h2> View Snippets </h2>
        <ul id="snippet-titles">
            {% for snip in snip_dict %}
            <li><a href="/view-snippets?snippetid={{ snip.snippet_id }}">
                    {{ snip.title }}
            </a></li>
            {% endfor %}
        </ul>

    </body>
</html>
