{% from "_snippet-form.html" import snippet_form %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title> New Snippet </title>
        <script type="module" src="/pages/static/snippet-creation.js" defer></script>
    </head>

    <nav>
     <a href="/">Manage Snippets</a>
    </nav>

    <body>
        <form method="post" action="/snippet-creation" id="new-snip-form">

            {{ snippet_form(langs) }} 

            <div>
                <button type="submit" id="form-submit-button">Submit</button>
            </div>
        </form>

        <h2> View Snippets </h2>
        <section id="link-list"></section>
    </body>
</html>
