<!DOCTYPE html>

<html>
    {% macro snippet_form(langs, form_size='normal') %}

    <div class="snippetform__group snippetform__group--{{ form_size }}">
            <label for="language"> Language </label >
            <select id="language" name="language" required>
                {% for lang in langs %}
                    <option value="{{ lang }}"> {{ lang }} </option>
                {% endfor %}
            </select>
        </div>

        <div class="snippetform__group snippetform__group--{{ form_size }}">
            <label for="title"> Title </label>
            <input id="title" name="title" required>
        </div>

        <div class="snippetform__group snippetform__group--{{ form_size }}">
            <label for="prefix"> Prefix </label>
            <input id="prefix" name="prefix" required>
        </div>

        <div class="snippetform__group snippetform__group--{{ form_size }}">
            <label for="description"> Description </label>
            <input id="description" name="description"></textarea>
        </div>

        <div class="snippetform__group snippetform__group--body snippetform__group--body{{ form_size | default('normal') }}">
            <label for="body"> Body </label>
            <textarea 
                id="body" 
                name="body"
                required
            ></textarea>
        </div>

    {% endmacro %}
</html>
