{% extends 'base.html' %}
{% from "snips/_snippet-form.html" import snippet_form %}
{% set upper_layout = "grid" %}
{% set form_size = "compact" %} 

<!doctype html>
<html>

    {% block scripts %}
        <script 
            type="module" 
            src="{{ url_for('static', filename='pages/manage-snippets.js' ) }}" 
            defer>
        </script>
    {% endblock %}

    {% block title %}  vault {% endblock %}

    {% block nav %}
        <a href="/">build snippet</a> | 
        <a href="{{ url_for('snippets.snip_api') }}">raw snippet data</a>
    {% endblock %}

    {% block header %}
        <img src="{{ url_for('static', filename='images/manager-title.png') }}" alt="Snippet Vault">
        <h5>▂▃▅▆▇▉ {{ g.user['username'] }}</h5>
    {% endblock %}

    {% block main %}
        <main id="display-card" class="snippetcard">


            <div id="initial-state" class="snippetcard__initialstate" hidden>
                <h5>Select a <span>saved snippet</span> using the above languages...</h5>
            </div>

            <div id="empty-state" class="snippetcard__emptystate" hidden>
                <h2>No Snippets Found</h2>
                <a href="{{ url_for('index') }}">Make New Snippet</a>
            </div>

            <div id="snippet-view" class="snippetcard__view" hidden>
                <div class="snippetcard__heading">
                    <h4 id="display-title" class="snippetcard__title" ><code></code></h4>
                    <h5 id="display-prefix" class="snippetcard__prefix" ><code></code></h5>
                </div>

                <pre id="display-body" class="snippetcard__body" ><code></code></pre>

                <div id="nav-buttons" class="snippetcard__actions">
                   <button type="button" id="prev">previous</button>
                   <button type="button" id="next">next</button>
                   <button type="button" id="copy-json">copy</button>
                   <button type="button" id="edit-snippet" >edit</button>
                </div>
            </div>
        </main> 

        <div class="snippetcard__langbuttons">
            <div id="language-button-list" class="buttonmenu__langbuttons"></div>
        </div>

        <div class="snippetcard__snipbuttons">
            <select id="snippet-menu" size="8" hidden></select>
        </div>
    {% endblock %}

    {% block lower_main %}
        <div id="snippet-preview-container" class="snippetpreview">
            <h4>Code Preview</h4>
            <pre><code id="snippet-preview-area"></code></pre>  
        </div>
    {% endblock %}

    {% block form %}
        <form id="snip-form" class="snippetform snippetform--compact" hidden>
            {{ snippet_form(langs, 'compact') }} 

            <div class="snippetform__actions">
                <button type="submit" id="form-submit-button">Update</button>
                <button type="button" id="delete-button">Delete</button>
                <button type="button" id="close-edit">Close</button>
                <button 
                    type="button" 
                    id="new-placeholder" 
                    class="snippetform__button" 
                    hidden
                >${i:value}</button>
            </div>

        </form>
    {% endblock %}


</html>
