{% from "snips/_snippet-form.html" import snippet_form %}
{% extends 'base.html' %}

<!doctype html>
<html>

    {% block scripts %}
        <script 
            type="module" 
            src="{{ url_for('static', filename='pages/manage-snippets.js' ) }}" 
            defer>
        </script>
    {% endblock %}

    {% block title %}  vault {% endblock %}

    {% block nav %}
        <a href="/">build snippet</a> | 
        <a href="{{ url_for('snippets.snip_api') }}">raw snippet data</a>
    {% endblock %}

    {% block header %}
        <h1>{{ g.user['username'] }} - snippet vault</h1>
    {% endblock %}

    {% block main %}
        <main id="display-card" hidden>
            <h4 id="display-title"><code></code></h3>
            <h5 id="display-prefix"><code></code></h4>
            <pre id="display-body"><code></code></pre>

            <div id="nav-buttons">
               <button type="button" id="prev">previous</button>
               <button type="button" id="next">next</button>
               <button type="button" id="copy-json">copy</button>
               <button type="button" id="edit-snippet" >edit</button>
            </div>


            <pre>
                <code id="snippet-preview-area">
                </code> 
            </pre>  
        </main> 

        <section id="snippet-selection">
            <div id="initial-state" hidden>
                <h3>select a saved snippet</h3>
                <h5>using the languages below</h5>
            </div>

            <div id="language-button-list"></div>
            <select id="snippet-menu" size="8" hidden></select>
        </section>
    {% endblock %}

    {% block form %}
        <form id="snip-form" hidden>
            {{ snippet_form(langs) }} 

            <div>
                <button type="submit" id="form-submit-button">Update</button>
                <button type="button" id="delete-button">Delete</button>
                <button type="button" id="close-edit">Close</button>
                <button type="button" id="new-placeholder" hidden>${i:value}</button>
            </div>

        </form>
    {% endblock %}

    {% block states %}

        <div id="empty-state" hidden>
            <h2>No Snippets Found</h2>
            <h3><a href="{{ url_for('index') }}">Make New Snippet</a></h3>
        </div>
    {% endblock %}

</html>
