{% extends "base.html" %}
{% from "snips/_snippet-form.html" import snippet_form %}
{% set upper_layout = "flex" %}

<!DOCTYPE html>
<html>

    {% block scripts %}
        <script type="module" src="/static/pages/snippet-creation.js" defer></script> 
    {% endblock %}

    {% block title %} Create {% endblock %}

    {% block header %}
        <img src="{{ url_for('static', filename='images/index-title.png') }}" alt="Snippet Creation">
    {% endblock %}
    
    {% block nav %}
        {% if g.user %}
            <a href="/snips/manage-snippets">Manage Snippets</a>
        {% else %}
            <a href="/auth/login">Manage Snippets</a>
        {% endif %}
    {% endblock %}  

    {% block main %}
       <main id="display-card" class="snippetcard" hidden>

            <pre id="display-body" class="snippetcard__body"><code></code></pre>

            <div id="nav-buttons" class="snippetcard__actions">
               <button 
                   type="button" 
                   id="copy-json" 
                   class="snippetcard__button snippetcard__button--enabled" 
                   disabled
                >Copy</button>
            </div>
        </main> 
    {% endblock %}

    {% block form %}
        <form 
            method="post" 
            action="/snippet-creation" 
            id="snip-form" 
            class="snippetform snippetform--normal" >

            {{ snippet_form(langs) }} 

           <div class="snippetform__actions">
                <button 
                    type="button" 
                    id="new-placeholder" 
                    class="snippetform__button snippetform__button--showing" 
                    hidden>${i:value}
                </button>

                {% if not g.user %}
                    <button 
                        type="submit" 
                        id="form-submit-button" 
                        class="snippetform__button" 
                        disabled
                    >Login to Save</button>
                {% endif %}

                {% if g.user %}
                    <button 
                        type="submit" 
                        id="form-submit-button" 
                        class="snippetform__button snippetform__button--enabled" 
                        disabled
                    >Save</button>
                {% endif %}
            </div>
        </form>
    {% endblock %}

    {% block lower_main %}
        <div id="snippet-preview-container" class="snippetpreview">
            <h4>Code Preview</h4>
            <pre><code id="snippet-preview-area"></code></pre>  
        </div>
    {% endblock %}

</html>
