{% from "snips/_snippet-form.html" import snippet_form %}
{% extends "base.html" %}

<!DOCTYPE html>
<html>

    {% block scripts %}
        <script type="module" src="/static/pages/snippet-creation.js" defer></script> 
    {% endblock %}

    {% block title %} Create {% endblock %}

    {% block header %}
        <h1>Snippet Creation</h1>
    {% endblock %}
    
    {% block nav %}
        {% if g.user %}
            <a href="/snips/manage-snippets">Manage Snippets</a>
        {% endif %}
    {% endblock %}  

    {% block main %}
       <main id="display-card" hidden>
            <pre id="display-body"><code></code></pre>
            <div id="nav-buttons">
               <button type="button" id="copy-json">Copy</button>
            </div>
        </main> 
    {% endblock %}

    {% block form %}
        <form method="post" action="/snippet-creation" id="snip-form">

            {{ snippet_form(langs) }} 

            <div>
                <button type="submit" id="form-submit-button">Save</button>
                <button type="button" id="new-placeholder" hidden>${i:value}</button>
            </div>
        </form>
    {% endblock %}

    {% block states %}
        <section id="snippet-preview-container">
            <h4>Code Preview</h4>
            <pre>
                <code id="snippet-preview-area"></code> 
            </pre>  
        </section>
    {% endblock %}

</html>
